---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "تینا ERP",
  "short_name": "تینا ERP",
  "description": "{{ site.description }}",
  "start_url": "/",
  "display": "standalone",
  "background_color": "#ffffff",
  "theme_color": "{{ site.themeColor }}",
  "lang": "fa-IR",
  "dir": "rtl",
  "icons": [
    {
      "src": "{{ site.url }}/assets/img/favicon.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "any"
    }
  ]
}
